Package: com.binksalex.littlexs
Name: LittleXS
Depends: mobilesubstrate
Version: 2.4.0
Architecture: iphoneos-arm
Description: LittleX revitalized for iOS 12.
Maintainer: Ryan Nair
Author: Ryan Nair & binksalex 
Section: Tweaks
Replaces: com.binksalex.fluidify, com.vitataf.homegesture, com.VitaTaf.HomeGesture, com.ioscreatix.littlex
Provides: com.binksalex.fluidify, com.vitataf.homegesture, com.VitaTaf.HomeGesture, com.ioscreatix.littlex, com.duraidabdul.neptune
